### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [5]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안됩니다.
# 코드에 대한 설명 / 중간 코드를 실행시키고 싶지 않을때 사용
# 단축키 : ctrl + /
# 블럭설정 : shift + 방향키

# 1,2,3을 출력하는 코드
print(1)
# print(2)
print(3)

1
3

In [ ]:
# 출력 : print 함수
# 코드 중간에 변수 값 확인하고 싶을때 사용

In [6]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [8]:
# print 함수의 옵션
# docstring : 함수에 대한 설명 : 단축키 (shift + tab)
# 자동완성 : tab

print(1,2, sep="-",end="\t")
print(3)

1-2	3

#### 2. 변수선언
- RAM 저장공간에 값을 할당

In [10]:
a = 1
b = 2
c = a + b
c

3

In [13]:
d, e = 3, 4
f = g = 5

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_) 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가 : def, class, try ..
    - 컨벤션
        - snake case : fast_campus : 변수, 함수
        - camel case : FastCampus, fastCampus : 클래스

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해 저장공간 타입 설정
- 동적타이핑
    - 변수 선언 시 저장되는 값에 따라 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [15]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [21]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [25]:
# 데이터 타입에 함수 : 문자열 
# upper : 대문자로 변환
e = d.upper()

In [26]:
d, e

('data', 'DATA')

In [31]:
f = " Fast campus "

In [32]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [33]:
# strip : 앞뒤 공백제거 : 크롤링할 때 많이 쓰임
f.strip()

'Fast campus'

In [34]:
# replace : 특정 문자열 치환
f.replace("Fast","Slow")

' Slow campus '

In [37]:
f.replace(" ","")

'Fastcampus'

In [36]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 오프셋 인덱스 : 마스크, 마스킹 : []
# 문자열은 순서가 있는 문자들의 집합

In [38]:
g = "abcdefg" # 문자가 가지고 있는 번호를 이용: 인덱스는 0부터

In [45]:
g[2], g[-2], g[2:5], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'defg', 'fg', 'aceg', 'gfedcba')

In [48]:
numbers = "123456789" # 잠깐 퀴즈 : 97531 출력

In [52]:
numbers[::-2] # 내가 쓴것

'97531'

In [53]:
# 답
result = numbers[::2]
result[::-1]
numbers[::2][::-1]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가한 데이터 타입
- dict {} : 순서가 없고 키:값으로 구성되어 있는 데이터 타입

In [55]:
# list
ls = [1,2,3,"four",[5,6],True,1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [58]:
# offset index 사용이 가능
ls[4], ls[1:3], ls[::-1]

([5, 6], [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [59]:
# list 함수

In [72]:
ls = [1,5,2,4]

In [74]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3, 3]

In [75]:
# sort : 오름차순으로 정렬
ls.sort()
ls
ls[::-1] # 내림차순 정렬

[5, 4, 3, 3, 2, 1]

In [76]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(5, [1, 2, 3, 3, 4])

In [77]:
# 리스트의 복사

In [78]:
ls1 = [1,2,3]
ls2 = ls1 # 얕은 복사 : 주소값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [80]:
ls1[2] = 5

In [81]:
ls1, ls2 # 똑같은 주소값(같은 저장공간)을 갖고 있기 때문에 값이 같이 바뀜

([1, 2, 5], [1, 2, 5])

In [83]:
ls3 = ls1.copy() # 새로운 주소값에 저장
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [84]:
ls1[2] = 10

In [85]:
ls1, ls3

([1, 2, 10], [1, 2, 5])

#### Tuple () 괄호 생략 가능 : 리스트와 같지만 수정 불가
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [89]:
tp1 = 1,2,3
tp2 = (4,5,6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [92]:
a, b = 1, 2 # 여러개의 변수로 여러개의 값을 받을 수도 있음
a, b

(1, 2)

In [93]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [95]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1,2,3]
tp = (1,2,3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

88 72

#### dict {}
- 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [100]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용 가능
# 인덱스 대신 키를 사용

dic = {
    1: "one",
    "two" :2,
    "three" : [1,2,3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [102]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [105]:
dic["two"] = 123 # 수정
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [106]:
# 아래의 데이터를 list와 dict로 선언
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [108]:
ls = ["seoul", "busan", "daegu", "9,700,000", "3,400,000", "2,400,000"]
dic = {
    "seoul" : "9,700,000",
    "busan" : "3,400,000",
    "daegu" : "2,400,000",
}

In [109]:
# 리스트
city = ["seoul","busan","daegu"]
popul = [9700000, 3400000, 2400000]

In [111]:
# 딕셔너리
dic = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000,
}

In [113]:
sum(popul)

15500000

In [115]:
sum(dic.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [117]:
a = 1
b = "2"
# a + b # 에러
a + int(b)

3

In [118]:
str(a) + b # 1 + 2

'12'

In [120]:
list(dic.values())

[9700000, 3400000, 2400000]

In [121]:
city, popul

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [123]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, popul))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [126]:
result = dict(list(zip(city, popul)))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [127]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [128]:
string = "python"
int(string)

ValueError: invalid literal for int() with base 10: 'python'

### 6. 연산자
- 산술연산자 : + - * / //(몫) % **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, //=, **=
- 비교연산자 : >, <, ==, !=, <=, >= : 결과 True False
- 논리연산자 : True, False 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할때 사용 : not in, in

In [1]:
# 산술연산
1+4/2**2

2.0

In [3]:
# 할당연산
a = 10
a = a+10
a+=10
a

30

In [6]:
# 비교연산
a = 30
b = 2
print(a,b)
a > b

30 2

True

In [7]:
# 논리연산
True and False, True or False, not True or False

(False, True, False)

In [9]:
# 멤버 연산
ls = ["jin", "andy", "john"]
"andy" in ls, "anchel" in ls, "john" not in ls

(True, False, False)

In [11]:
### 랜덤함수
import random

random.randint(1, 10) # 1에서 10 사이 랜덤 숫자

4

In [12]:
# 입력함수
data = input("insert string: ")
data

insert string: 안녕하세요

'안녕하세요'

In [ ]:
# 해결의 책 : 질문하면 질문에 대한 답변을 해주는 책

In [14]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수값 생성
# index 해당하는 솔루션 리스트 데이터 출력

In [19]:
# 솔루션 리스트 작성
solutions = [
    "무엇을 하면 잘 안 될것이다.",
    "생각지도 않은 좋은 일이 생긴다.",
    "무엇을 상상하던 그 이상이다",
]
# 질문 입력 받음
input("질문을 입력하세요: ")

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값 생성
idx = random.randint(0, len(solutions)-1)

# index 해당하는 솔루션 리스트 데이터 출력
solutions[idx]

질문을 입력하세요: dd

'무엇을 상상하던 그 이상이다'

In [ ]:
d